@font-face {

    font-family: AdrenalinaTitle;
    src: url('assets/Fonts/Ethnocentric/spaceranger.ttf');

}


@font-face {
    font-family: AdrenalinaString;
    src: url('assets/Fonts/old_sans_black/OldSansBlack.ttf')
}



